<html>
<head>
    <title>表单示例</title>
</head>
<body>
  
  <div>
    <form>
    <table class="t">
        <tr>
            <td>请假理由：</td>
            <td><input class="input" type="text" name="applyrason" /></td>
        </tr>
        <tr>
            <td>请假长度：</td>
            <td><input class="input" type="text" name="applyname"/></td>
        </tr>
        <tr>
            <td>开始时间：</td>
            <td><input class="input" type="text" name="applydate" value=""/></td>
        </tr>
        <tr>
            <td>请假类型：</td>
            <td><input class="input" type="text" name="applytype"/></td>
        </tr>
       
    </table> 
     <input  type="button" value="提交" style="background-color:#3762bc"/>
     <input  type="button" value="返回" style="background-color:red"/>
    </form>
    
    
      
    
  </div>
</body>