*{margin:0;padding:0;}

.main-left{
    width:10%;
    height:800px;
    border: 2px groove #99A494;
    color: aliceblue;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #333;
    float:left;
}
.main-right{
    width:90%;
    height:800px;
    background:white;
    float:right;
}
.btn{
    background: #333;
    color:  aliceblue;
    
}
.btn:hover{
    background-color: #111;
}
table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
    color:#333333;
	border-width: 10px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable th{
    text-align: center;
}
table.hovertable td {
	border-width: 10px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}