
<body>
    <div class="main-left">用户:
      <div>
      </div>
    
      <button type="button" class ="btn"  onmouseover="background='black'"
      onmouseout="background= 111" (click)="showPaper()">
        请假单
      </button>
      <div>
    
        </div>
      <button type="button" class ="btn" id="ll" (click)="showTime()">
          剩余假期
      </button>
     
    </div>
    <div class="main-right" *ngIf="!paperOrTime">
        <table  id="bt"  width="100%" >
            <tr>
               <td  align= "center"class="title" height="60">请假单</td>
            </tr>
        </table>
           
        <table width=100%  class="hovertable">
            <tr>
              <th >请假类型</th>
              <th>请假长度</th>
              <th>请假理由</th>
              <th>请假状态</th>
            </tr>
        </table>
           <!-- da是返回的当天请假的信息，具体内容看domain里的data.ts,使用里面的变量可以像下面{{da.变量}} *ngFor是便利dat数组，因为有多条信息-->
            <div *ngIf="dat" >
                <table width=100% *ngFor="let da of dat" class="hovertable">
                   <tr>
                    <th>
                    {{da.type}}
                    </th>
                    <th>
                        {{da.length}}
                    </th>
                </tr>
                </table>
            </div>
       
    </div>
    
    <!-- 假期剩余暂没实现 -->
    <div class="main-right" *ngIf="paperOrTime">
        <table  id="bt"  width="100%" >
            <tr>
               <td  align= "center"class="title" height="60">假期剩余</td>
            </tr>
            
        </table>
           
        <table width=100%  class="hovertable">
            <tr>
              <th >请假类型</th>
              <th>请假长度</th>
              <th>请假理由</th>
              <th>请假状态</th>
            </tr>
        </table>

    </div>

    </body>