.n{
    background: grey;
    text-align: center;
    height: 100%
}
.bt{
    align-content: center;
}
table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
    color:#333333;
	border-width: 10px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable th{
    text-align: center;
}
table.hovertable td {
	border-width: 10px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

.heading {
    text-align: center;
    line-height: 1.5;
    font-family: 'FZXBS';
    font-size: 21pt;
}