<head>
    <title>
        出勤情况
    </title>
</head>

        <table  id="bt"  width="100%" >
                <tr>
                    <td  align= "center"class="title" height="60"> 出勤情况</td>
                </tr>
                <tr>
                    <td align="right" height="25">2017-01-02---2017-05-02</td>
                </tr>
            </table>
       
    <table width=100%  class="hovertable">
        <tr>
            <th >姓名</th>
            <th>出勤情况</th>
            <th>操作</th>
        </tr>
    </table>
