<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <div id = "login">
    <h1>登陆</h1>
    <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
      <input type="text" formControlName="work_number" placeholder="用户名">
      <input type="password" formControlName="password" placeholder="密码">
      <button type="submit" class="btn">登录</button>
      {{message}}{{route}}
    </form>
    <br>
    没有账号? <button type="button" class="btnz" routerLink="/register">注册</button>
  </div>
</body>
