.main-container {
    margin-top: 5px;
    margin-left: 0px;
    padding: 0px 15px 0px 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
   
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
